@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');
@import "tailwindcss";

/* Global CSS variables */
/* 1. bark bg purple 896C6C
2. less dark lavender D6A99D
3. text creame FBF3D5
4. light gray blue D6DAC8
5. gray blue 9CAFAA */
:root {
  --font-primary: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    --primary-bg: #D6DAC8;
    --dark-colour: #896C6C;
    --text: #FBF3D5;
    --gray-blue: #9CAFAA;
    --light-gray-blue: #D6A99D;
}

/* Global reset + base styles */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  height:100%;
  overflow-x: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}